$xlarge-device-l: "1199px";
$large-device-l: "991px";
$moderate-device-l: "767px";
$small-device-l: "575px";
$msmall-device-h: "450px";
$xsmall-device-l: "350px";
$pure-white: #fff;
$deep-red: #871e35;
$of-white: #ccc;
$of-white1: #f2f2f2;
$gray: #5d7079;
$gray1: #c6c7c9;
$blue: #7eaad7;
$green: #2ed06e;
$dark:#000
